---
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Otávio Dias - Portfolio</title>
	</head>
	<body class="bg-gradient-radial from-slate-500 via-slate-700 to-slate-900 to-90% h-screen">
		<h1 class="text-white text-9xl">My Portfolio</h1>
	</body>
</html>
